.teal {
    font-weight: bolder;
    font-size: 25px;
    padding: 10px;
    padding-left: 15px;
}

.desktop-only {
    display: none;
}

@media only screen and (min-width: 768px) {
    .desktop-only {
        display: block;
    }
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile-only {
        display: block;
    }
}